<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>About Leroy's Computer Store</h1>
<hr>

<h2>Our Story</h2>
<p>Welcome to Leroy's Computer Store, where we are passionate about providing top-notch computer parts and PCs to our
    customers. Whether you need a powerful gaming PC, a workstation, or anything in between, Leroy has it all.
    We have been a staple of the community for years, and we can't wait to get you the PC of your dreams.</p>
</body>
</html>